---
layout: default
---
<div class="post-description">
    <h2>¡Bienvenido a esta guia de aprendizaje de Desarrollo Web!</h2>
    <hr>    
    <img src="https://raw.githubusercontent.com/snmartiez/snmartiez.github.io/refs/heads/gh-pages/assets/images/logos%20Desarrollo%20Web.jpg" alt="Descripción de la imagen" width="570">
    <p>
        Queridos estudiantes, nos alegra tenerlos aquí. Han llegado a un espacio dedicado a proporcionar una guía completa para quienes desean aprender o perfeccionar sus habilidades en desarrollo web.
        En esta página, encontrarán recursos detallados que abarcan tecnologías clave de la industria, como <strong>Node.js, Express, Angular, Sequelize. </strong>
        Estas herramientas son esenciales para construir aplicaciones web modernas y robustas, y nuestra guía está diseñada para que avancen paso a paso, desde los fundamentos hasta la integración completa entre el frontend y el backend.
        Esperamos que encuentren aquí la inspiración y el conocimiento que necesitan para avanzar en su camino como desarrolladores. 
        ¡Adelante y éxito en su aprendizaje!
    </p>
 </div>
<!--
{% assign trans = site.data.values[site.lan] %}
{% for post in paginator.posts %}
<div class="well article">
    
    <h2>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    
    <div class="post-description">
        {{ post.description }}
    </div>
    
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">{{ trans.page }}: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
-->
