{% assign trans = site.data.values[site.lan] %}
<div class="footer">
    <p>
        Copyright © 2024 - Ing. Silfred Martinez V
    </p>
       <p>
         Guía Académica Universidad de la Guajira - ©2024 Desarrollo Web, Informatica II - Act. 2024
    </p>
  <!--   <p>&copy;{{ site.time | date: '%Y' }} {{ site.name }}{{ trans.thanks }}
            {% for thank in site.data.thanks %}
                <a href="{{ thank.url }}">
                {{ thank.title }}
                </a>
                {% if forloop.last == false %}
                ,
                {% endif %}
            {% endfor %}
    </p>  -->
</div>

<!-- 
    {% include disqus-counts.html %}
    {% include analytics.html %} 
-->

</body>
</html>
